npm-debug.log
node_modules
.DS_Store
.*.sw[op]
*.mp4
examples/vigour-io-store-example/platforms/ios/VigourIoStoreExample.xcodeproj/project.xcworkspace/xcuserdata/alexandervanderwerff.xcuserdatad/UserInterfaceState.xcuserstate
examples/vigour-io-store-example/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/alexandervanderwerff.xcuserdatad/xcschemes/CordovaLib.xcscheme
examples/vigour-io-store-example/platforms/ios/VigourIoStoreExample.xcodeproj/xcuserdata/alexandervanderwerff.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
examples/vigour-io-store-example/platforms/ios/VigourIoStoreExample.xcodeproj/xcuserdata/alexandervanderwerff.xcuserdatad/xcschemes/VigourIoStoreExample.xcscheme