<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="io.vigour.store"
      version="0.1.1">

    <name>Vigour-io-store</name>
    <description>Vigour.io Store Plugin</description>
    <license></license>
    <keywords>vigour.io,store,purchases</keywords>
    <author>Alexander van der Werff</author>

    <engines>
        <engine name="cordova-ios" version=">=3.0.0" />
    </engines>
		
    <js-module src="www/vigour-io-store.js" name="VigourIoStore">
        <clobbers target="Store" />
    </js-module>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
			    <feature name="VigourIoStore">
				    <param name="ios-package" value="VigourIoStore" />
						<param name="onload" value="true" />
			    </feature>
        </config-file>

				<header-file src="src/ios/VigourIoStore.h" />
				<source-file src="src/ios/VigourIoStore.m" />
				
				<framework src="StoreKit.framework" />
	       
    </platform>

</plugin>
