<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="io.vigour.facebookLogin"
      version="0.0.1">

    <name>Vigour-io-facebookLogin</name>
    <description>Vigour.io Facebook Login Plugin</description>
    <license></license>
    <keywords>vigour.io,facebook,login</keywords>
    <author>Vigour.io</author>
		
    <js-module src="www/vigour-io-facebookLogin.js" name="VigourIoFacebookLogin">
        <clobbers target="FB" />
    </js-module>

    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="VigourIoFacebookLogin">
                <param name="wp-package" value="VigourIoFacebookLogin"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Vigour-io-facebookLogin.cs" />
    </platform>

</plugin>
